<div class="container">

    <h2>Users</h2>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveUserModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
                </button>
                <br>
                <span id="messageSuccess" hidden>
                    <div class="alert alert-success" role="alert">New user was created</div>
                </span>
            </div>
        </div>

    <div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUserLabel">Create or edit a User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="user.firstName" autofocus>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="user.lastName">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="user.login">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary" id="clickMe"
                                data-dismiss="modal" ng-click="save()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | orderBy:'email'">
                    <td>{{user.login}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>


</div>

<script>
    var button = document.getElementById('clickMe');

    function buttonClicked() {
        setTimeout(timerComplete, 2500);
        $('#messageSuccess').show();
    }

    button.addEventListener('click', buttonClicked);

    function timerComplete() {
        $('#messageSuccess').hide();
    }
</script>
